:root {
  --c-palette-color-white-1: #ffffff;
  --c-palette-color-white-2: #fafafa;

  --c-palette-color-gray-1: #282828;
  --c-palette-color-gray-2: #343333;
  --c-palette-color-gray-3: #393939;
  --c-palette-color-gray-3-95: #393939f8;
  --c-palette-color-gray-3-50: #39393980;
  --c-palette-color-gray-3-5: #3939390d;
  --c-palette-color-gray-4: #484848;

  --c-palette-color-orange-1: #f17900;
  --c-palette-color-orange-2: #e0a449;
  --c-palette-color-orange-3-30: #fbd7b24d;
}
